##1. Pengertian Function
Function merupakan sebuah blok kode yang berisikan instruksi untuk dieksekusi. Fungsi bertujuan agar kode yang kita gunakan bisa reusable, dan tidak perlu membuat kode yang sifatnya berulang-ulang

##2. Function Pada Python
1. Untuk membuat function pada python diawalai dengan def kemudian nama function lalu diakhiri dengan tutup kurung '()'.
2. Function memiliki parameter yang akan disisipkan didalam tutup kurung tersebut, yang digunakan ketika menjalan instruksi yang terdapat dalam fungsi tersebut
3. Function secara optional memiliki return value.

In [20]:
## contoh fungsi
def greet():
  print("Hello")

Pada kode diatas kita telah membuat fungsi greet yang akan melakukan print Hello

In [21]:
## cara memanggil fungsi
greet()

Hello

Tentu saja ketika fungsi dibuat maka harus perlu dipanggil ketika kita ingin gunakan, caranya adalah dengan langsung memanggil ke arah nama fungsinya

In [22]:
# membuat fungsi dengan parameter
def greeting(name): # fungsi dengan 1 parameter
  print('Hello', name)

In [23]:
greeting('Rio')

Hello Rio

In [24]:
def greeting(name, last_name):
  print('Hello', name, last_name)# fungsi dengan 2 parameter

greeting ('Rio','Alexander')

Hello Rio Alexander

Ketika kita mendefine sebuah fungsi dengan 2 parameter, ketika kita ingin memanggil fungsi tersebut maka kita harus mengisi 2 parameter tersebut, kalau tidak diisi akan menimbulkan error

In [25]:
#greeting('Rio')

Pada potongan kode diatas dikatakan bahwa argument last_name diperlukan untuk memanggil fungsi , sehingga kode tersebut error<br>
Lalu bagaimana jika kita tidak tahu pasti jumlah parameter yang kita gunakan namun kita perlu untuk memasukkan parameter kedalam fungsi kita? Jawabannya adalah dengan menggunakan arbitary(*)

In [26]:
def biodata(*args):
  for i in args:
    print(i)

In [27]:
biodata('nama', 'prodi', 'fakultas')

nama
prodi
fakultas

In [28]:
biodata('nama', 'prodi', 'fakultas', 'umur')

nama
prodi
fakultas
umur

In [29]:
##double arbitary digunakan apabila kita ingin menggunakan parameter yang menampung key dan value pada fungsi kita
def biodataAsli(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} : {value}")

In [30]:
biodataAsli(nama="rio", prodi ="Sistem Informasi", fakultas ="computer science")

nama : rio
prodi : Sistem Informasi
fakultas : computer science

In [31]:
# contoh kasus membuat fungsi luas persegi panjang
# code..

### 3. Python Data Structure

#### 3.1 List
List merupakan sekumpulan objek yang dapat diedit atau di manipulasi, objek dapat terdiri dari berbagai jenis tipe data, sehingga dalam 1 list bisa terdapat lebih dari 1 jenis tipe data

In [32]:
# mendeklariskan list
# untuk mendeklarasikan list dapat menggunakan tanda []

list_a = []

In [33]:
list_a

[]

list_a sudah terbentuk dengan value yang kosong ( list kosong )

In [34]:
list_b = ['aku', 1, 3.14]

In [35]:
list_b

['aku', 1, 3.14]

list_b sudah terbentuk dengan objek yang terdiri dari string, integer, dan float

In [36]:
# cara mengakses elemen / objek pada list
# misal kita ingin mengakses elemen pertama pada list yaitu 'aku' maka kita bisa memanfaatkan indexing pada list dimana index dimulai dari 0,1,2 dst
# mengakses elemen pertama

list_b[0]

'aku'

caranya adalah dengan memaksukan nama variabel list kemudian diikuti dengan [] yang didalamnya dimasukkan index yang dimulai dari 0

In [37]:
print(list_b[0])
print(list_b[1])
print(list_b[2])

aku
1
3.14

### Memanipulasi List
Jika diperhatikan pada penjelasan mengenai tipe diatas dikatakan bahwa list dapat diedit, dapat diedit artinya list dapat dimanipulasi dimana kita bisa menambah, mengurang dan mengedit objek atau elemen yang ada pada list, berikut merupakan implementasi manipulasi list pada python

In [38]:
#menambah element pada list menggunakan append
list_b.append('elemen_baru')

In [39]:
list_b

['aku', 1, 3.14, 'elemen_baru']

In [40]:
#update element pada list
#untuk mengupdate element pada list terlebih dahulu akses elemen tersebut lalu update
list_b[3] = 'elemen_baru_updated'

In [41]:
list_b

['aku', 1, 3.14, 'elemen_baru_updated']

In [42]:
#menghapus elemen pada list
#untuk menghapus elemen pada list langsung saja hapus valuenya dengan menggunakan keyword remove
list_b.remove('elemen_baru_updated')

In [43]:
list_b

['aku', 1, 3.14]

elemen baru berhasil dihapus

### 3.2 Tuples
Pada dasarnya tuples dan list memiliki kesalamaan terutama dalam hal pen deklarasian, dan dapat diisi oleh lebih dari 1 tipe data, hanya saja tuple tidak dapat dimodifikasi.

In [44]:
#deklarasi tuple
my_tuple = (10, 20, 30, 'apple', 'banana')

# Akses element
print(my_tuple[0])
print(my_tuple[3])

10
apple

In [45]:
#memecah tuple
#tuple dapat dipecah dan di assign ke dalam sebuah variabel
my_tuple = (10, 20, 30)

# Memecah tuple
a, b, c = my_tuple
print(a)
print(b)
print(c)

10
20
30

### 3.7 Dictionaries
Dictionaries pada python merupakan proses pendeklarisan suatu data yang diikuti dengan key dan value yang berpasang2an

In [46]:
# membuat sebuah dictionary

student = {
    'name': 'Amin',
    'age': 19,
    'major': 'Sistem Informasi',
    'gpa': 3.8
}

In [47]:
student

{'name': 'Amin', 'age': 19, 'major': 'Sistem Informasi', 'gpa': 3.8}

In [48]:
# Akses keys, values, dan items yang ada pada dictionary
keys = student.keys()
values = student.values()
items = student.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'major', 'gpa'])
dict_values(['Amin', 19, 'Sistem Informasi', 3.8])
dict_items([('name', 'Amin'), ('age', 19), ('major', 'Sistem Informasi'), ('gpa', 3.8)])

In [49]:
# Check apakah key terdapat pada dictionary
print('name' in student)
print('address' in student)

True
False

In [50]:
#menhghapus salah satu item pada dictionarny 
student.pop('name')
student

{'age': 19, 'major': 'Sistem Informasi', 'gpa': 3.8}

## 4. Numpy