##1. Start with Hello World

In [1]:
print('Hello World')

Hello World

## 2.Variables

Dalam standar pemrograman terdapat beberapa aturan dalam penggunaan variabel (naming convencion) yaitu camelCase, snake_case, dan CamelCase. Ketiga naming convencion ini valid , dan dilarang untuk menggabungkan angka atau karakter kedalam penamaan variabel

In [2]:
camelCase = 'camel'
snake_case = 'snake'
PascalCase = 'pascal'

In [3]:
camelCase

'camel'

In [4]:
snake_case

'snake'

In [5]:
PascalCase

'pascal'

In [6]:
#1arm = 'one'

## 2.Comment

Comment meruapakan suatu tindakan untuk menambahkan kalimat dalam struktur kode yang sedang kita buat tanpa harus perlu di compile oleh compiler, misalnya untuk memberikan step pengerjaan atau menjelaskan detail penggunaan suatu kode

In [7]:
world = 'hello world' # cara membuat variabel
# hello = 'hello world'

In [8]:
world

'hello world'

In [9]:
#hello

Pada line pertama terlihat bahwa saat mendeklarasikan variabel world kita menambahkan keterangan dengan comment untuk memberikan penjelasan / detail, sedangkan pada line kedua kodenya di berikan komen sehingga tidak ikut diekseskusi dan menimbulkan error ketika variabel hello ingin kita panggil , cara pengguaan komen pada python adalah dengan menambahkan tanda # pada kodingan

## 3. Data Types
Data Types merupakan jenis atau pengelompokan suatu data yang akan disimpan ke variabel sehingga computer dapat mengenalinya. Terdapat beberapa jenis tipe data diantaranya

1. INTEGER
2. FLOAT
3. STRINGS
4. BOOLEAN

###3.1 Integer
Integer berarti bilangan bulat mis : 1,3,5,10,200, dll

In [10]:
a = 1
b = 2

In [11]:
print(a, b)
print(type(a), type(b))

1 2
<class 'int'> <class 'int'>

*Notes : Salah satu kelebihan python adalah bahwa ketika kita mendeklarasikan suatu variabel kita tidak perlu mendefiniskan tipe datanya, dalam kata lain tipe datanya akan membaca ke value yang di assign ke variabel tersebut, pengecekan tipe data dapat dilakukan dengan menggunakan type*

### 3.2 FLoat
Float merupakan tipe data yang bersifat desimal

In [12]:
c = 3.14
print(type(c))

<class 'float'>

###3.3 Strings
String merupakan tipe data yang menyimpan kata atau kalimat

In [13]:
d = "data analysis"
print(d)
print(type(d))

data analysis
<class 'str'>

###3.4 Boolean

In [14]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [15]:
a = 1
b = 2

In [16]:
print(a > 1)

False

## 4. Condition
Pada pemrograman condition digunakan untuk pengecekan suatu value atau logika tertentu
Dalam bahasa pemrograman python dan bahasa pemrograman pada umumnya condition menggunakan if, else, else if / elif (pada python)

In [17]:
#contoh penggunaan if
a = 1
if(a == 1):
  print('benar')

benar

In [18]:
#contoh penggunaan if dan else
b = 2
if(a == 1):
  print('benar')
else:
  print('salah')

benar

### Notes
Perhatikan perbedaan antara penggunaan = dan == , dalam pemrograman = digunakan untuk mengassign value ke variabel sedangkan == untuk melakukan pengecekan value kedalam variabel tersebut

In [19]:
#contoh penggunaan if , else, dan elif
c =3
if (c == 3):
     print("ini adalah angka 3")
elif (c > 3):
     print("lebih besar dari 5")
else:
     print("lebih kecil dari 5")

ini adalah angka 3

Contoh Studi Kasus :
Seorang guru ingin melakukan grading pada ujian mendatang dengan ketentutan sebagai berikut : <br>
0 - 29 : E <br>
30 - 49 : D<br>
50 - 69 : C<br>
70 - 79 : B <br>
80 - 100 : A <br>

Buatlah program dengan python dengan menggunakan logic tersebut. Gunakan input() untuk melakukan input nilai

In [20]:
input = int(input())

45

In [21]:
if (input >= 0 and input < 30):
  print('E')
elif(input >=30 and input < 50):
  print('D')
elif(input >= 50 and input < 70):
  print('C')
elif(input >= 70 and input <= 80):
  print('B')
else:
  print('A')

D

## 5. Looping

Looping perulangan merupakan suatu fundamental dalam programming yang memungkinkan kita untuk melakukan control flow untuk mengeksekusi suatu instruksi atau perintah secara berulang.
Contoh kasus : misalkan kita ingin membagi 10 coklat kepada 10 orang teman kita, maka kasus tersebut dapat disebut sebagai looping atau perulangan , karena kita melakukan instruksi untuk membagi coklat sebanyak 10 kali. Dan dengan konsep looping ini kita bisa membagi 10 coklat sekaligus dengan 1 instruksi kode.

Terdapat 2 jenis looping dalam pemrograman yaitu for looping dan while looping. Berikut implementasinya

### 5. 1 For Looping
For looping digunakan untuk melakukan suatu perulangan dalam suatu urutan misalkan : list, tuple, dan range.

In [22]:
materi = ["python", "sql", "visdat"]
for i in materi:
    print("Saya belajar", i)

Saya belajar python
Saya belajar sql
Saya belajar visdat

### 5.2 While Looping
While looping digunakan untuk melakukan looping selama kondisi yang diberikan masih memberikan nilai true

In [23]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [24]:
# Implementasi Studi kasus pembagian coklat
# Misal total coklat 10
num_chocolates = 10

# Loop
for friend in range(1, num_chocolates + 1):
    print("Memberi chocolate", friend)

Memberi chocolate 1
Memberi chocolate 2
Memberi chocolate 3
Memberi chocolate 4
Memberi chocolate 5
Memberi chocolate 6
Memberi chocolate 7
Memberi chocolate 8
Memberi chocolate 9
Memberi chocolate 10

### 5.3 Range
Range pada python merupakan sebuah fungsi yang digunakan untuk mereturn suatu angka atau bilangan sesuai dengan statement/parameter yang diberikan dimana paramter dari range diantaranya adalah sebagai berikut: <br>

<b>range(start, stop, step)<b>

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9