##1. Start with Hello World

In [ ]:
print('Hello World')

Hello World

## 2.Variables

Dalam standar pemrograman terdapat beberapa aturan dalam penggunaan variabel (naming convencion) yaitu camelCase, snake_case, dan CamelCase. Ketiga naming convencion ini valid , dan dilarang untuk menggabungkan angka atau karakter kedalam penamaan variabel

In [ ]:
camelCase = 'camel'
snake_case = 'snake'
PascalCase = 'pascal'

In [ ]:
camelCase

'camel'

In [ ]:
snake_case

'snake'

In [ ]:
PascalCase

'pascal'

In [ ]:
#1arm = 'one'

## 2.Comment

Comment meruapakan suatu tindakan untuk menambahkan kalimat dalam struktur kode yang sedang kita buat tanpa harus perlu di compile oleh compiler, misalnya untuk memberikan step pengerjaan atau menjelaskan detail penggunaan suatu kode

In [ ]:
world = 'hello world' # cara membuat variabel
# hello = 'hello world'

In [ ]:
world

'hello world'

In [ ]:
#hello

Pada line pertama terlihat bahwa saat mendeklarasikan variabel world kita menambahkan keterangan dengan comment untuk memberikan penjelasan / detail, sedangkan pada line kedua kodenya di berikan komen sehingga tidak ikut diekseskusi dan menimbulkan error ketika variabel hello ingin kita panggil , cara pengguaan komen pada python adalah dengan menambahkan tanda # pada kodingan

## 3. Data Types
Data Types merupakan jenis atau pengelompokan suatu data yang akan disimpan ke variabel sehingga computer dapat mengenalinya. Terdapat beberapa jenis tipe data diantaranya

1. INTEGER
2. FLOAT
3. STRINGS
4. BOOLEAN
5. LISTS
6. TUPLES
7. DICTIONARIES

###3.1 Integer
Integer berarti bilangan bulat mis : 1,3,5,10,200, dll

In [ ]:
a = 1
b = 2

In [ ]:
print(a, b)
print(type(a), type(b))

1 2
<class 'int'> <class 'int'>

*Notes : Salah satu kelebihan python adalah bahwa ketika kita mendeklarasikan suatu variabel kita tidak perlu mendefiniskan tipe datanya, dalam kata lain tipe datanya akan membaca ke value yang di assign ke variabel tersebut, pengecekan tipe data dapat dilakukan dengan menggunakan type*

### 3.2 FLoat
Float merupakan tipe data yang bersifat desimal

In [ ]:
c = 3.14
print(type(c))

<class 'float'>

###3.3 Strings
String merupakan tipe data yang menyimpan kata atau kalimat

In [ ]:
d = "data analysis"
print(d)
print(type(d))

data analysis
<class 'str'>

### 3.4 List
List merupakan sekumpulan objek yang dapat diedit atau di manipulasi, objek dapat terdiri dari berbagai jenis tipe data, sehingga dalam 1 list bisa terdapat lebih dari 1 jenis tipe data

In [ ]:
# mendeklariskan list
# untuk mendeklarasikan list dapat menggunakan tanda []

list_a = []

In [ ]:
list_a

[]

list_a sudah terbentuk dengan value yang kosong ( list kosong )

In [ ]:
list_b = ['aku', 1, 3.14]

In [ ]:
list_b

['aku', 1, 3.14]

list_b sudah terbentuk dengan objek yang terdiri dari string, integer, dan float

In [ ]:
# cara mengakses elemen / objek pada list
# misal kita ingin mengakses elemen pertama pada list yaitu 'aku' maka kita bisa memanfaatkan indexing pada list dimana index dimulai dari 0,1,2 dst
# mengakses elemen pertama

list_b[0]

'aku'

caranya adalah dengan memaksukan nama variabel list kemudian diikuti dengan [] yang didalamnya dimasukkan index yang dimulai dari 0

In [ ]:
print(list_b[0])
print(list_b[1])
print(list_b[2])

aku
1
3.14

### Memanipulasi List
Jika diperhatikan pada penjelasan mengenai tipe diatas dikatakan bahwa list dapat diedit, dapat diedit artinya list dapat dimanipulasi dimana kita bisa menambah, mengurang dan mengedit objek atau elemen yang ada pada list, berikut merupakan implementasi manipulasi list pada python

In [ ]:
#menambah element pada list menggunakan append
list_b.append('elemen_baru')

In [ ]:
list_b

['aku', 1, 3.14, 'elemen_baru']

elemen baru berhasil ditambahkan pada list

In [ ]:
#update element pada list
#untuk mengupdate element pada list terlebih dahulu akses elemen tersebut lalu update
list_b[3] = 'elemen_baru_updated'

In [ ]:
list_b

['aku', 1, 3.14, 'elemen_baru_updated']

elemen_baru yang ditambahkan berhasil diupdate menjadi elemen_baru_updated

In [ ]:
#menghapus elemen pada list
#untuk menghapus elemen pada list langsung saja hapus valuenya dengan menggunakan keyword remove
list_b.remove('elemen_baru_updated')

In [ ]:
list_b

['aku', 1, 3.14]

elemen baru berhasil dihapus

###3.5 Boolean

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
a = 1
b = 2

In [ ]:
print(a > 1)

False

###3.6 Tuples
Pada dasarnya tuples dan list memiliki kesalamaan terutama dalam hal pen deklarasian, dan dapat diisi oleh lebih dari 1 tipe data, hanya saja tuple tidak dapat dimodifikasi.

In [ ]:
#deklarasi tuple
my_tuple = (10, 20, 30, 'apple', 'banana')

# Akses element
print(my_tuple[0])
print(my_tuple[3])

10
apple

In [ ]:
#memecah tuple
#tuple dapat dipecah dan di assign ke dalam sebuah variabel
my_tuple = (10, 20, 30)

# Memecah tuple
a, b, c = my_tuple
print(a)
print(b)
print(c)

10
20
30

###3.7 Dictionaries
Dictionaries pada python merupakan proses pendeklarisan suatu data yang diikuti dengan key dan value yang berpasang2an

In [ ]:
# membuat sebuah dictionary

student = {
    'name': 'Amin',
    'age': 19,
    'major': 'Sistem Informasi',
    'gpa': 3.8
}

In [ ]:
student

{'name': 'Amin', 'age': 19, 'major': 'Sistem Informasi', 'gpa': 3.8}

In [ ]:
# Akses keys, values, dan items yang ada pada dictionary
keys = student.keys()
values = student.values()
items = student.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'major', 'gpa'])
dict_values(['Amin', 19, 'Sistem Informasi', 3.8])
dict_items([('name', 'Amin'), ('age', 19), ('major', 'Sistem Informasi'), ('gpa', 3.8)])

In [ ]:
# Check apakah key terdapat pada dictionary
print('name' in student)
print('address' in student)

True
False

## 4. Condition
Pada pemrograman condition digunakan untuk pengecekan suatu value atau logika tertentu
Dalam bahasa pemrograman python dan bahasa pemrograman pada umumnya condition menggunakan if, else, else if / elif (pada python)

In [ ]:
#contoh penggunaan if
a = 1
if(a == 1):
  print('benar')

benar

In [ ]:
#contoh penggunaan if dan else
b = 2
if(a == 1):
  print('benar')
else:
  print('salah')

benar

### Notes
Perhatikan perbedaan antara penggunaan = dan == , dalam pemrograman = digunakan untuk mengassign value ke variabel sedangkan == untuk melakukan pengecekan value kedalam variabel tersebut

In [ ]:
#contoh penggunaan if , else, dan elif
c =3
if (c == 3):
     print("ini adalah angka 3")
elif (c > 3):
     print("lebih besar dari 5")
else:
     print("lebih kecil dari 5")

ini adalah angka 3

Contoh Studi Kasus :
Seorang guru ingin melakukan grading pada ujian mendatang dengan ketentutan sebagai berikut : <br>
0 - 29 : E <br>
30 - 49 : D<br>
50 - 69 : C<br>
70 - 79 : B <br>
80 - 100 : A <br>

Buatlah program dengan python dengan menggunakan logic tersebut. Gunakan input() untuk melakukan input nilai

In [ ]:
input = int(input())

48

In [ ]:
if (input >= 0 and input < 30):
  print('E')
elif(input >=30 and input < 50):
  print('D')
elif(input >= 50 and input < 70):
  print('C')
elif(input >= 70 and input <= 80):
  print('B')
else:
  print('A')

D

## 5. Looping

Looping perulangan merupakan suatu fundamental dalam programming yang memungkinkan kita untuk melakukan control flow untuk mengeksekusi suatu instruksi atau perintah secara berulang.
Contoh kasus : misalkan kita ingin membagi 10 coklat kepada 10 orang teman kita, maka kasus tersebut dapat disebut sebagai looping atau perulangan , karena kita melakukan instruksi untuk membagi coklat sebanyak 10 kali. Dan dengan konsep looping ini kita bisa membagi 10 coklat sekaligus dengan 1 instruksi kode.

Terdapat 2 jenis looping dalam pemrograman yaitu for looping dan while looping. Berikut implementasinya

### 5. 1 For Looping
For looping digunakan untuk melakukan suatu perulangan dalam suatu urutan misalkan : list, tuple, dan range.

In [ ]:
materi = ["python", "sql", "visdat"]
for i in materi:
    print("Saya belajar", i)

Saya belajar python
Saya belajar sql
Saya belajar visdat

### 5.2 While Looping
While looping digunakan untuk melakukan looping selama kondisi yang diberikan masih memberikan nilai true

In [ ]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [ ]:
# Implementasi Studi kasus pembagian coklat
# Misal total coklat 10
num_chocolates = 10

# Loop
for friend in range(1, num_chocolates + 1):
    print("Memberi chocolate", friend)

Memberi chocolate 1
Memberi chocolate 2
Memberi chocolate 3
Memberi chocolate 4
Memberi chocolate 5
Memberi chocolate 6
Memberi chocolate 7
Memberi chocolate 8
Memberi chocolate 9
Memberi chocolate 10

### 5.3 Range
Range pada python merupakan sebuah fungsi yang digunakan untuk mereturn suatu angka atau bilangan sesuai dengan statement/parameter yang diberikan dimana paramter dari range diantaranya adalah sebagai berikut: <br>

<b>range(start, stop, step)<b>

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9