In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/jojomac/introduction_python/dataset/titanic/train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1. Data Cleaning 

Data Cleaning merupakan proses untuk membersihkan data menjadi lebih mudah dimengerti menjadi lebih informatif, dan menghapus data data yang rusak atau data data yang tidak terlalu diperlukan dalam proses analysis. Data Cleaning dapat meliputi menghapus data null, mengganti data dan nilai tertentu, dll

In [ ]:
# Mengecek berapa jumlah null value pada masing masing kolom. 
jumlah_missing = pd.isnull(df).sum()
jumlah_missing

In [6]:
jumlah_missing = pd.isnull(df).sum()
jumlah_missing

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# menghitung ratio missing value pada metrics cabin
rasio = jumlah_missing.div(len(df))
rasio

In [ ]:
#hapus kolom cabin
# Kolom Cabin memiliki jumlah missing value hingga 77% sehingga kolom Kabin lebih baik dihilangkan (drop) dari table
df = df.drop(['Cabin'], axis=1)

In [ ]:
df.head()

In [ ]:
# Statistik descriptif dari variabel age
df['Age'].describe()

In [ ]:
# menghitung ratio missing value pada metrics cabin
rasio = jumlah_missing.div(len(df))
rasio

### 1.1 Handling Kolom Numerikal

Setelah mengahapus kolom cabin nyatanya masih terdapat beberapa missing value pada dataset kita, ada beberapa hal yang bisa dilakukan, untuk data numerikal yaitu dengan menghapus datanull tersebut, atau melakukan inputation. Apabila nilai mean dengan median tidak terlalu jauh maka efektifnya adlaah dengan inputation, biasanya dengan mengganti dengan nilai rata rata kolom tersebut

In [ ]:
# Mengubah NaNs dengan nilai Mean 
df['Age'].fillna(int(df['Age'].mean()), inplace=True)

In [ ]:
# Cek kembali apakah masih terdapat missing value
pd.isnull(df).sum()

### 1.2 Handling Kategorikal

Handling Kategorikal biasanya dilakukan dengan nilai modus / data yang paling sering langsung

In [ ]:
df['Embarked'].mode()

In [ ]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
# Cek kembali apakah masih terdapat missing value
pd.isnull(df).sum()

### 1.3 Check Duplicate Value

In [ ]:
# Mengidentifikasi apakah terdapat duplicate value pada tabel dengan acuan kolom PassengerId
df[df["PassengerId"].duplicated(keep=False)].sort_values("PassengerId")

## 2. Data Manipulation

### 2.1 Mengganti tipe data

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# Mengecek tipe data salah satu kolom
df["Parch"].dtypes

In [ ]:
# Mengubah data type
df['Parch_string'] = df['Parch'].astype(str)
df['PassengerId_string'] = df['PassengerId'].astype(str)

In [ ]:
# Cek kembali tipe data
df["Parch_string"].dtypes

In [ ]:
df["PassengerId_string"].dtypes

In [ ]:
df.info()

### 2.2 Rename Column

In [ ]:
df = df.rename(columns={"Pclass": "PassengerClass", "Sex": "Gender", "SibSp":"Sibling", "Parch":"Parent"})

In [ ]:
df.head()

### 2.3 Remove kolom yang tidak diperlukan

In [ ]:
df = df.drop(['Parch_string','PassengerId_string'],axis = 1)

In [ ]:
df.head()

In [ ]:
# Memfilter seluruh data penumpang laki-laki
male = df[df['Gender'] == 'male']

In [ ]:
male

In [ ]:
# Memfilter seluruh data penumpangan balita (usia 5 tahun ke bawah)
balita = df[df['Age'] <= 5]

In [ ]:
balita.head(10)

## 3. Data Wrangling

### 3.1 Merging

In [ ]:
survived = df[['PassengerId','Survived']]
age = df[['PassengerId','Age']]

In [ ]:
# Menggabungkan Tabel survived dengan tabel Age dengan PassengerId menjadi key nya
df_new = survived.merge(age, how='left', on='PassengerId')

In [ ]:
df_new

### 3.2 Group by

In [ ]:
df.groupby(by=["Survived", "Gender"], dropna=False).count()[['PassengerId']]

### 3.3 Correlation

In [ ]:
df.corr()